.color-picker,
.color-picker *,
.color-picker::after,
.color-picker::before,
.color-picker::after,
.color-picker::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.color-picker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999
}

.color-picker-container {
    color: #000;
    -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
    /*width: calc(11.5em + 3px)*/
}

.color-picker-container *,
.color-picker-container::after,
.color-picker-container::before {
    border-color: inherit
}

.color-picker-container::after {
    content: "";
    clear: both
}

.color-picker i {
    font: inherit;
    font-size: 12px
}

.color-picker-h {
    position: relative;
    width: 1.9em; /*From 1.5em*/
    height: 14em; /*From 10em*/
    float: right;
    cursor: ns-resize;
    background: url(color-picker-h.png)50% 50% no-repeat;
    background: -webkit-linear-gradient(to top, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red 100%)50% 50%/100% 100% no-repeat;
    background-image: -moz-linear-gradient(to top, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red 100%);
    background-image: linear-gradient(to top, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red 100%);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    overflow: hidden;
    margin-left: 1.5em; /*New Addedd*/
}

.color-picker-h i {
    position: absolute;
    top: -.25em;
    right: 0;
    left: 0;
    z-index: 3;
    display: block;
    height: .5em
}

.color-picker-h i::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 0.35em solid;
    border-color: transparent;
    border-right-color: inherit;
    border-left-color: inherit
}

.color-picker-sv {
    position: relative;
    width: 14em; /*From 10 em*/
    height: 14em; /*From 10 em*/
    float: left;
    margin-right: 1px;
    background: url(color-picker-sv.png)50% 50% no-repeat;
    background-image: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    cursor: crosshair;
}

.color-picker-sv i {
    position: absolute;
    top: -.4em;
    right: -.4em;
    z-index: 3;
    display: block;
    width: .8em;
    height: .8em
}

.color-picker-sv i::after,
.color-picker-sv i::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 1px solid;
    border-color: inherit;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}

.color-picker-sv i::before {
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-color: #fff
}

.color-picker-h,
.color-picker-sv {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

/*Updated CSS*/
.color-picker.static {
    display:inline-block !important;
    position:static !important;
    top:0 !important;
    left:0 !important;
}
.color-box{
    padding: 12px;
    margin: 6px 6px;
    border-radius: 5px;
}
.view-color{
    padding: 0px 44px;
    background: gray;
    margin-right: 16px;
}
.color-box-container{
    display: flex;justify-content: center;
    margin-bottom: 0.4em ;

}
.color-details {
    display: flex;justify-content: center;
    margin: 0.4em 0em;
}
.color-details input{
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.color-picker-footer{
    width: 20%;
    margin: 0 auto;
    text-align: left;
}
.heading{
    font-size: 17px;
    color: rgba(0,0,0,0.9);
    font-weight: 500;
}
.heading p{
    margin: 1em 0 0;
    padding-left: 5px;
}
.color-palette-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: start;
}
.color-palette{
    padding: 14.52px;
    margin: 6px 6px;
    border-radius: 5px;
    background: #009900;
}
.color-add-btn{
    margin: 6px 6px;
    border-radius: 6px;
    padding: 4px 10.04px;
    background: #ffffff;
    border: 1px dashed gray;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}