@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400i,700i|Roboto+Mono:400,700,400i,700i');
body,kbd {font-family:'Roboto Condensed',Helmet,FreeSans,Sans-Serif}
code {
  font-family:'Roboto Mono','Courier New',Courier,'Nimbus Mono L',Monospace;
  font-size:86%;
}
* {
  margin:0;
  padding:0;
  font:inherit;
  text-decoration:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
b,strong,th {font-weight:bold}
i,em,var {font-style:italic}
ins,u {text-decoration:underline}
s,del {text-decoration:line-through}
sup,sub {
  font-size:80%;
  font-weight:normal;
  vertical-align:baseline;
  position:relative;
  top:-.5em;
}
sub {top:.5em}
.fa {
  font-family:FontAwesome;
  font-style:normal;
}
html {
  font-size:14px;
  line-height:1.5em;
  background:#fff;
  color:#000;
}
a {
  color:#afa;
  text-decoration:none;
}
a:focus,a:active {color:#faf}
abbr {
  border:0;
  cursor:help;
}
abbr:hover {color:#090}
kbd {color:#900}
a abbr,strong abbr {color:inherit}
button::-moz-focus-inner,
input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
button,input,select,textarea {
  background:0 0;
  color:inherit;
  border:1px solid;
  width:10em;
  padding:.25em .5em;
  background-color: #ffffff;
}
button {
  background:#000;
  color:#fff;
  border-width:0;
  padding:.25em .65em;
  cursor:pointer;
}
button:focus,button:hover {background:#009}
button:active {background:#900}
button,input[type="checkbox"],input[type="radio"] {width:auto}
textarea {
  display:block;
  width:100%;
  height:5em;
  min-height:5em;
  resize:vertical;
}
blockquote,form,p,pre,section {
  display:block;
  margin:1.5em 0 0;
}
ul {list-style-type:disc}
ol {list-style-type:decimal}
ul,ol {margin:1.5em 0 1.5em 3em}
ul li,ol li {margin:0}
ul ul,ol ul,ul ol,ol ol {margin:0 0 0 1.5em}
h1,h2,h3,h4,h5,h6 {
  margin-top:1.5rem;
  line-height:1.5rem;
  font-weight:bold;
}
h1 {
  font-size:4.242rem;
  line-height:4.5rem;
}
h2 {
  font-size:2.828rem;
  line-height:3rem;
}
h3 {font-size:1.414rem}
h5 {font-size:.707rem}
h6 {font-size:.4713333333333333rem}
table {
  margin-top:1.5rem;
  border-spacing:0;
  border-collapse:collapse;
  width:100%;
}
th,td {
  border:1px solid;
  padding:.5em 1em;
  text-align:left;
  vertical-align:top;
}
blockquote {
  border-left:4px solid #faf;
  padding-left:1.5em;
}
pre {
  background:#044;
  font-size:86%;
  line-height:1.25em;
  padding:1em 1.2em;
  white-space:pre-wrap;
  word-wrap:break-word;
}
code {
  font-style:normal;
  color:#099;
}
pre code {color:inherit}
section {
  max-width:750px;
  margin-right:auto;
  margin-left:auto;
}
.container {
  padding:5% 0;
  text-align:center;
}
.container h1 {padding-top:0}
footer {
  padding:5% 3% 3%;
  overflow:hidden;
}
.left {float:left}
.right {float:right}
.center {text-align:center}
.button,.input,.select,.textarea {
  display:inline-block;
  background:#fff;
  padding:.5em .8em;
  position:relative;
}
.button {
  background:#ff0;
  color:#000;
  padding:.5em 1em;
  border-width:0;
}
.button,.toggle,.select {cursor:pointer}
.button:focus,.button:hover {
  background:#0ff;
  color:#000;
}
.button:active {
  background:#0f0;
  color:#000;
}
@media (max-width:800px) {
  section {
    max-width:none;
    margin-right:5%;
    margin-left:5%;
  }
}